/* html styling */

html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  line-height: 1.3;
  background-color: #e8ffed;
  background-image: url(http://www.transparenttextures.com/patterns/handmade-paper.png);
}

img{
  width: 100%;
  border-radius: 12px;
  height: 214px;
}


/* navbar */

.nav {
  background-color: #77D754;
  margin: auto -16px;
  padding: 0.8rem 1.75rem;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 2rem;
}

#address-card {
    top: 1px;
  }


.nav .btn, a{
  color: #9d6cc7;
  font-size: 1.25rem;
}

.nav .btn:hover, a:hover{
  color: #C70B3E;
  cursor: pointer;
}

.btn {
  background-color: #77D754;
  margin-right: 8%;
  border: 0px;
  height: 100%;
}

#address-card{
  position: relative;
}

#home-button{
  position: relative;
  right: 41%;
  font-size: 2rem;
  top: 0.3rem;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  #home-button {
    margin-left: 7%;
  }
}

/* middle container */

#container {
  max-width: 21.5rem;
  margin: 1% auto;
}

.card {
  background-color: white;
  border: 2px solid #bacdd8;
  padding: 2.5%;
  border-radius: 12px;
  background-color: #e8ffed;
}

/* middle container - Button */

#form-button{
  border: none;
  width: 7.5rem;
  height: 4rem;
  border-radius: 50px;
  font-weight: 600;
  background-color: red;
  color: white;
  margin: 4% auto 1.5% auto ;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #form-button {
  width: 9.8rem;
  height: 4.9rem;
  }
}

/* footer */

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #77D754;
  color: white;
  padding-top: 1%;
}

footer p{
  margin-top: 0.75%;
}

.footer-icon {
  margin-right: 1.25%;
  color: #9d6cc7
}

.footer-icon:hover{
  color: #C70B3E;
}

@media screen and (max-width: 768px) {
  .footer-icon {
  margin-top: 1%;
  }
}