body {
  text-align: center;
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

.nav {
  background-color: #77D754;
  margin: auto -16px;
  padding: 1rem 1.75rem;
  font-family: "Fira Sans Condensed", sans-serif;
}

.btn-group {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 1rem;
}

.nav .btn, a{
  color: #9d6cc7;
  font-size: 1.25rem;
}

.nav .btn:hover, a:hover{
  color: #C70B3E;
}

.btn {
  background-color: #77D754;
  border:0;
  margin-right: 8%;
}

#address-card{
  position: relative;
}

#home-button{
  position: relative;
  right: 41%;
  font-size: 1.5rem;
  top: 0.3rem;
}

/* footer */

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  background-color: #77D754;
  color: white;
  padding: 1% 0 3.75% 0;
}

@media (max-width: 800px){
footer {
  padding-bottom: 6.5%;
  }
}

.footer-icon {
  margin-right: 1.25%;
  color: #9d6cc7
}

.footer-icon:hover{
  color: #C70B3E;
}